<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
	<!-- logout.html -->
    <div th:replace="~{inc/header.html :: header}"></div>
    
    <h2>Logout</h2>
	
    <!--  
        스프링 시큐리티의 로그아웃
        - POST 
        - /logout
    
    -->
    <form method="POST" action="/logout">
    <div>
        <button>로그아웃</button>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
    
</body>
</html>