<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>JPA</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
	<!-- edit.html -->
    <h1>JPA <small>아이템 수정하기</small></h1>
	<h2>Item 수정하기</h2>
    
    <form method="POST" action="/m3ok">
    <table class="vertical" th:object="${dto}">
        <tr>
            <th>이름</th>
            <td><input type="text" name="name" required th:field="*{name}"></td>
        </tr>   
        <tr>
            <th>가격</th>
            <td><input type="number" name="price" required min="0" max="2000000" th:field="*{price}"></td>
        </tr>   
        <tr>
            <th>색상</th>
            <td>
                <select name="color" th:field="*{color}">
                    <option value="black">black</option>
                    <option value="white">white</option>
                    <option value="yellow">yellow</option>
                    <option value="red">red</option>
                    <option value="blue">blue</option>
                </select>
            </td>
        </tr>   
        <tr>
            <th>수량</th>
            <td><input type="number" name="qty" min="1" max="10000" th:field="*{qty}"></td>
        </tr>   
        <tr>
            <th>설명</th>
            <td><textarea name="description" class="full" th:field="*{description}"></textarea></td>
        </tr>       
    </table>    
    <div>
        <button>수정하기</button>
    </div>
    <input type="hidden" name="seq" th:field="${dto.seq}">
    </form>
    
</body>
</html>