<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
	<!-- m3.html -->
    <h1>연산자</h1>
	
    <!-- 
        타임리프 상수(리터럴)
        - String: 'hong', '100' 
        - Number: 10, 1021, 3.14
        - Boolean: true, false
        - Null: null
        
        타임리프 연산자(= 자바, EL)
        - 산술 연산자 > 동일
        - 비교 연산자 > 동일
        - 논리 연산자 > 동일
        - 삼항 연산자 > 동일
    -->
    
    <div>10 + 3 = 13</div>
    <div><span th:text="${a}"></span> + <span th:text="${b}"></span> = <span th:text="${a + b}"></span></div>
    
    
    <div th:text="${a + b}"></div>
    <div th:text="${a} + ${b}"></div>
    
    <div th:text="${'10 + 3 = 13'}"></div>
    <div th:text="${a} + ' + ' + ${b} + ' = ' + ${a + b}"></div>
    <div th:text="${a + ' + ' + b + ' = ' + (a + b)}"></div>
    
    
    <!-- 
        리터럴 치환 문법 / 문자열 보간법
        타임 리프 2.1 
        
        |표현식|
        - 변수 표현식 > 실행
        - 상수 > 상수 처리
    -->
    <div th:text="|${a} + ${b} = ${a + b}|">0순위</div>
    
    <hr>
    
    <div th:text="${a} + ${b}"></div>
    <div th:text="${a} - ${b}"></div>
    <div th:text="${a} * ${b}"></div>
    <div th:text="${a} / ${b}"></div>
    <div th:text="${a} % ${b}"></div>
    
    <hr>
    
    <div th:text="${a} > ${b}"></div>
    <div th:text="${a} >= ${b}"></div>
    <div th:text="${a} < ${b}"></div>
    <div th:text="${a} <= ${b}"></div>
    <div th:text="${a} == ${b}"></div>
    <div th:text="${a} != ${b}"></div>
    <div th:text="${a} gt ${b}"></div>
    
    <hr>
    
    <!-- <div th:text="true && true"></div> -->
    <div th:text="true and true"></div>
    <div th:text="true or true"></div>
    <div th:text="not true"></div>
    <div th:text="!true"></div>
    
    <hr>
    
    <div th:text="${a} >0 ? '양수' : '양수 아님'"></div>
    <div th:text="${a} >0 ? '양수'">null 반환</div>

    <div th:text="${a} >0 ?: '양수'"></div>
    
    <hr>
    
    <div th:text="${name} != null ? ${name} : '익명'"></div>
    
    <!-- truesy, falsy -->
    <div th:text="${name} ? ${name} : '익명'"></div>
    
    <!-- ?: 엘비스 연산자 -->
    <div th:text="${name} ?: '익명'"></div>    
        
</body>
</html>