<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf</title>
    <link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
	<!-- m7.html -->
    <!-- 
        스프링 메시지, Spring Message
        - 프로젝트내에서 자주 사용하는(반복되는) 문자열 관리하는 기능
        - 상수 문자열 > 관리
        
        - src/main/resources > "messages.properties"
        
        3. Message Expression, 메시지 표현식
    -->
	<h1>스프링 메시지 <small>다국어</small></h1>
    
    <h2 th:text="#{author}"></h2>
    <h2 th:text="#{language}"></h2>
    
    <ul>
        <li th:text="#{item.category}">
        <li th:text="#{item.name}">
        <li th:text="#{item.color}">
        <li th:text="#{item.option}">
        <li th:text="#{item.desc(#{item.name}, #{item.color})}">
    </ul>
    
    
</body>
</html>